#tableView_jobs, #tableView_workers, #tableView_affinities_A, #tableView_affinities_B, ColorTest {
    /* https://colordesigner.io/gradient-generator */
    qproperty-priorityramp: "\
          0%=#6D7EB1 \
         10%=#6E9BB6 \
         20%=#6FBBB9 \
         30%=#70BFA0 \
         40%=#71C583 \
         50%=#80CA71 \
         60%=#A4CF72 \
         70%=#CCD373 \
         80%=#D9B973 \
         90%=#DE9473 \
        100%=#E3747C";
    qproperty-heatramp: "\
         75%=#80CA71 \
         80%=#A4CF72 \
         85%=#CCD373 \
         90%=#D9B973 \
         95%=#DE9473 \
        100%=#E3747C";
    qproperty-namedcolors: "\
        FINISHED=#80CA71 \
        WORKING=#D9B973 \
        ERROR=#E3747C \
        CANCELED=#E3747C \
        OFFLINE=#E3747C \
        PAUSED=#6FBBB9 \
        OFFDUTY=#6D7EB1";
}
