/* default border color */
QPushButton, QComboBox, QLineEdit, QListView, QSpinBox, QComboBox QListView, QTabBar::tab, #lbl_log, #edt_env, #tabWidget_main::pane{
    border-color: #CCC;
}

/* buttons default colors */
QPushButton, QTabBar::tab {
    background-color: #DDD;
}

/* hover color for buttons and tabs */
QTabBar::tab:hover, QPushButton:hover {
    background-color: #EEE;
}

/* checked color for buttons and tabs */
QTabBar::tab:selected, QPushButton:checked {
    background-color: #CCC;
}

#lbl_log {
    /* background-color: #888; */
}

#cbb_attempts {
    background-color: #DDD;
    color: #222;
}

/* green buttons */
#btn_newJob {
    color: #EEE;
    background-color: #282;
    border-color: #1B6D1B;
}
#btn_newJob:hover {
    background-color: #4EA04E;
}

/* blue buttons */
#btn_startJobs, #btn_pauseJobs, #btn_startWorkers, #btn_stopWorkers {
    color: #EEE;
    background-color: #48D;
    border-color: #366DB1;
}
#btn_startJobs:hover, #btn_pauseJobs:hover, #btn_startWorkers:hover, #btn_stopWorkers:hover {
    background-color: #69A0E4;
}

/* red buttons */
#btn_deleteJobs, #btn_resetJobs, #btn_resetJobErrors, #btn_forgetWorkers {
    color: #EEE;
    background-color: #A32;
    border-color: #80261A;
}
#btn_deleteJobs:hover, #btn_resetJobs:hover, #btn_resetJobErrors:hover, #btn_forgetWorkers:hover {
    background-color: #B3594D;
}

/* view items */
    #tableView_jobs,
    #tableView_workers,
    #tableView_affinities_A,
    #tableView_affinities_B,
    ColorTest
    {
        qproperty-bordercolor: #CCC;
        /* https://colordesigner.io/gradient-generator */
        qproperty-priorityramp: "\
              0%=#6D7EB1 \
             10%=#6E9BB6 \
             20%=#6FBBB9 \
             30%=#70BFA0 \
             40%=#71C583 \
             50%=#80CA71 \
             60%=#A4CF72 \
             70%=#CCD373 \
             80%=#D9B973 \
             90%=#DE9473 \
            100%=#E3747C";
        qproperty-heatramp: "\
             75%=#80CA71 \
             80%=#A4CF72 \
             85%=#CCD373 \
             90%=#D9B973 \
             95%=#DE9473 \
            100%=#E3747C";
        qproperty-namedcolors: "\
            FINISHED=#80CA71 \
            WORKING=#D9B973 \
            ERROR=#E3747C \
            CANCELED=#E3747C \
            OFFLINE=#E3747C \
            PAUSED=#6FBBB9 \
            OFFDUTY=#6D7EB1";
    }


CoalHeaderView {
    qproperty-bordercolor: #CCC;
}

QLineEdit, QPlainTextEdit, QSpinBox, QListView {
    /* background-color: #555; */
}

QScrollBar {
/*        background-color: #555;*/
}
QScrollBar::handle {
/*        background-color: #888;*/
}

QTableView QScrollBar {
/*        background-color: #444;*/
}
QTableView QScrollBar::handle {
/*        background-color: #666;*/
}

/* editor states (mixed/modified colors) */

/* editor state colors */
QLineEdit[state="mixed"], QPlainTextEdit[state="mixed"], QSpinBox[state="mixed"], QListView[state="mixed"] {
    /* mixed values */
    background-color: #FDA;
    border-color: #FB0;
}
QLineEdit[state="mixed"] {
    /* placeholder text when mixed values */
    color: #762;
    font-style: italic;
}
QLineEdit[state="modified"], QPlainTextEdit[state="modified"], QSpinBox[state="modified"], QListView[state="modified"] {
    /* modified values */
    background-color: #DFB;
    border-color: #4D0;
}
ScheduleWidget {
    selection-background-color: #AAA;
    qproperty-bordercolor: #CCC;
}
ScheduleWidget[state="mixed"] {
    selection-background-color: #FDA;
    gridline-color: #FB0;
    qproperty-bordercolor: #FB0;
}
ScheduleWidget[state="modified"] {
    selection-background-color: #DFB;
    gridline-color: #4D0;
    qproperty-bordercolor: #4D0;
}
