
/* default border style */
QPushButton, QComboBox, QLineEdit, #edt_env, QListView, QSpinBox, #lbl_log, QComboBox QListView {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
}

/* buttons style */
QPushButton {
    height: 20px;
    padding: 0px 10px;
    /* 3d effect */
    border-bottom-width: 2px;
    border-bottom-width: 2px;
}
QPushButton:pressed {
    /* vertical icon offset when pressed */
    padding: 1px 0 -1px 0;
}
QPushButton[barpos="left"] {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
QPushButton[barpos="right"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}
QPushButton[barpos="center"] {
    border-radius: 0px;
    border-left-width: 0px;
}

/* scrollbar style */
QScrollBar {
    padding: 4px;
}
QScrollBar:horizontal {
    height: 16px;
}
QScrollBar:vertical {
    width: 16px;
}
QScrollBar::handle, QScrollBar::handle {
    border-radius: 4px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    width: 0;
    height: 0;
}
QScrollBar::add-page, QScrollBar::sub-page {
    background-color: none;
}

QLineEdit, QSpinBox, QComboBox {
    min-height: 18px;
}

/* default tabs style */
QTabBar::tab {
    height: 20px;
    padding: 0px 10px;
    border-style: solid;
    border-color: black;
}

#tabWidget_main::pane {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: black;
}
#tabWidget_main::tab-bar {
    /* alignment: center; */
    left: 10px;
}
#tabWidget_main > QTabBar::tab {
    margin: 0;
    padding: 0;
    width: 60px;
    border-width: 1px 1px 0 0;
}
#tabWidget_main > QTabBar::tab:first {
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 2px;
}
#tabWidget_main > QTabBar::tab:last {
    border-top-right-radius: 2px;
}
#tabWidget_main > QTabBar::tab:only-one {
    border-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#tabBar_jobHierarchy::tab {
    height: 18px;
    margin: 6px 0;
    padding: 0px 4px;
    border-width: 1px 1px 1px 0;
    border-radius: 0px;
}
#tabBar_jobHierarchy::tab:first {
    border-width: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#tabBar_jobHierarchy::tab:last {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#tabBar_jobHierarchy::tab:only-one {
    border-width: 1px;
    border-radius: 2px;
}

#widget_jobFilters QPushButton {
    padding: 0;
    width: 20px;
    height: 20px;
}

#schedule_table_view {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}
#schedule_table_view QHeaderView::section {
  padding: 0px;
  font-style: 6pt;
  width: 16px;
  height: 16px;
}

/* log name (QLabel) in log page */
#lbl_log {
    height: 20px;
    padding: 0px 10px;
}

/* "attempts" combobox in log page */
#cbb_attempts {
    height: 20px;
    padding: 0px 10px;
}

/* remove standard arrow on combobox */
QComboBox::drop-down {
    padding: 2ex 1ex;
    image: url(":/arrow-down-light.png");
}

/* log content in log page */
#textEdit_log {
    font-family: Cascadia Code, Consolas, DejaVu Sans Mono, Courier New, monospace;
    font-size: 10pt;
}