QWidget {
    color: #DDD;
    background-color: #444;
}

QMenu::item:selected {
    background-color: #456;
}

/* default border color */
QPushButton, QComboBox, QLineEdit, QListView, QSpinBox, QComboBox QListView, QTabBar::tab, #lbl_log, #edt_env, #tabWidget_main::pane {
    border-color: #333;
}

/* buttons default colors */
QPushButton, QTabBar::tab {
    color: #222;
    background-color: #888;
}

/* hover color for buttons and tabs */
QTabBar::tab:hover, QPushButton:hover {
    background-color: #AAA;
}

/* checked color for buttons and tabs */
QTabBar::tab:selected, QPushButton:checked {
    background-color: #CCC;
}

#lbl_log {
    background-color: #888;
}

#cbb_attempts {
    background-color: #DDD;
    color: #222;
}

/* green buttons */
#btn_newJob {
    color: #EEE;
    background-color: #282;
    border-color: #141;
}
#btn_newJob:hover {
    background-color: #4EA04E;
}

/* blue buttons */
#btn_startJobs, #btn_pauseJobs, #btn_startWorkers, #btn_stopWorkers {
    color: #EEE;
    background-color: #48D;
    border-color: #247;
}
#btn_startJobs:hover, #btn_pauseJobs:hover, #btn_startWorkers:hover, #btn_stopWorkers:hover {
    background-color: #69A0E4;
}

/* red buttons */
#btn_deleteJobs, #btn_resetJobs, #btn_resetJobErrors, #btn_forgetWorkers {
    color: #EEE;
    background-color: #A32;
    border-color: #521;
}
#btn_deleteJobs:hover, #btn_resetJobs:hover,#btn_resetJobErrors:hover, #btn_forgetWorkers:hover {
    background-color: #B3594D;
}

#tableView_jobs, #tableView_workers, #tableView_affinities_A, #tableView_affinities_B, ColorTest {
    alternate-background-color: #555;
    qproperty-bordercolor: #333;
    /* https://colordesigner.io/gradient-generator */
    qproperty-priorityramp: "\
          0%=#2244AA \
         10%=#005D87 \
         20%=#00667D \
         30%=#007172 \
         40%=#007E57 \
         50%=#228822 \
         60%=#537D00 \
         70%=#726F00 \
         80%=#8B5F00 \
         90%=#9E4B00 \
        100%=#AA3322";
    qproperty-heatramp: "\
         75%=#228822 \
         80%=#537D00 \
         85%=#726F00 \
         90%=#8B5F00 \
         95%=#9E4B00 \
        100%=#AA3322";
    qproperty-namedcolors: "\
        FINISHED=#282 \
        WORKING=#A72 \
        ERROR=#A32 \
        CANCELED=#A32 \
        OFFLINE=#A32 \
        PAUSED=#00667D \
        OFFDUTY=#24A";
}

ScheduleWidget {
    qproperty-bordercolor: #333;
}

CoalHeaderView {
    qproperty-bordercolor: #333;
}

QLineEdit, QPlainTextEdit, QSpinBox, QListView {
    background-color: #555;
}

QScrollBar {
    background-color: #555;
}
QScrollBar::handle {
    background-color: #888;
}

QTableView QScrollBar {
    background-color: #444;
}
QTableView QScrollBar::handle {
    background-color: #666;
}

/* editor state colors */
QLineEdit[state="mixed"], QPlainTextEdit[state="mixed"], QSpinBox[state="mixed"], QListView[state="mixed"] {
    /* mixed values */
    background-color: #736042;
    border-color: #FB0;
}
QLineEdit[state="mixed"] {
    /* placeholder text when mixed values */
    color: #FB0;
    font-style: italic;
}
QLineEdit[state="modified"], QPlainTextEdit[state="modified"], QSpinBox[state="modified"], QListView[state="modified"] {
    /* modified values */
    background-color: #4d6842;
    border-color: #4D0;
}
ScheduleWidget {
    selection-background-color: #AAA;
    qproperty-bordercolor: #333;
}
ScheduleWidget[state="mixed"] {
    selection-background-color: #FB0;
    gridline-color: #736042;
    qproperty-bordercolor: #736042;
}
ScheduleWidget[state="modified"] {
    selection-background-color: #4D0;
    gridline-color: #4d6842;
    qproperty-bordercolor: #4d6842;
}
